<header class="header-class">
    <nav>
        <img src="fasfu.png" alt="Logo de la Concesionaria" class="logo">
        <h1 class="title">Auto Shop</h1>
        <ul class="nav-menu">
            <li class="menu burger-menu">
                <button class="button menu-toggle">☰</button>
            </li> 
            <li>
                <img src="https://cdn.icon-icons.com/icons2/1097/PNG/512/1485477097-avatar_78580.png" alt="Download" class="download-icon">
            </li>
        </ul>
    </nav>
  </header>
  